<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<head>
<meta charset="UTF-8">
<title>게시글 상세페이지</title>
<link rel="stylesheet" th:href="@{/css/boardDetail.css}" />
</head>
<body>
 <th:block layout:fragment="content">
<div class="form-box">
<div class ="row">
		<div class ="col  text-center my-3">
		<H2 class= "fw-bold" th:text ="${board.title}">게시판 상세보기</H2>
		</div>
	</div>
 	<div class ="row my-3">
		<div class ="col mx-auto">
			<!-- 기본기능은 그대로 넣고 각 게시판 별 특징은 if로 집어넣기 -->
			<form name="detailCheckForm" id="detailCheckForm">
				<input type="hidden" id="categoryId" name="categoryId" th:value="${board.categoryId}">
				<input type="hidden" id="writerId" name="writerId" th:value="${board.writerId}">
				<input type="hidden" id="pageNum" name="pageNum" th:value="${pageNum}">
				<input type="hidden" id="redirectUrl" name="redirectUrl" th:value="${redirectUrl}">
				<!-- 해시태그리스트가 string으로 전달되기 때문에 하나하나 값을 뜯어서 hashtags에 넣음 -->
				<th:block th:each="ht : ${hashtags}">
				    <input type="hidden" name="hashtags" th:value="${ht.tag}" />
				</th:block>
				<input type="hidden" id="loginUser" name="loginUser" th:value="${session.loginUser}" />
				<input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}" />
				<input type="hidden" id="rPass" name="rPass" />
			</form>
					<!-- 이미지 뽑기 -->
					<!-- 이미지가 있는 경우  -->
					<div class ="row">
					<th:block th:if ="${board.images != null}">
						<div class="col-8 mx-auto" id="boardDetailImages">
						    <th:block th:each="img : ${board.images}">
						        <div class="img-wrap my-3">
						            <img class="board-detail-img"
						                 th:src="@{'/upload/board/' + ${img.fileName}}"
						                 alt="게시글 사진">
						        </div>
						    </th:block>
						</div>
					</th:block>
					<!-- 이미지 없는 경우-->
					<th:block th:if ="${board.images == null}">
						<div class="col-8 mx-auto" id="boardDetailImages">
					        <div class="img-wrap">
					            <img class="board-detail-img"
					                 alt="게시글 사진"
					                 th:src="@{'/upload/board/' + ${img.fileName}}">
					        </div>
						</div>
					</th:block>
					</div>
					<!-- 테이블로 값 표현 -->
					<div class ="row my-5">
						<div class ="col-8 mx-auto">
							<table class="table table-bordered" >
								<tbody>
									<tr>
										<th class ="text-center">작성자</th>
										<td>[[${board.writerId}]]</td>
										<th class ="text-center">작성일</th>
										<td>[[${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm')}]]</td>		
									</tr>
									<tr>
										<th class ="text-center">카테고리</th>
										<td>
											<select class="form-select" id="categorySelect" disabled>
										    <option th:selected="${categoryId == 1}">Pet Tip</option>
										    <option th:selected="${categoryId == 2}">Pet Gallery</option>
										    <option th:selected="${categoryId == 3}">Missing pet</option>
										    <option th:selected="${categoryId == 4}">Adopt</option>
											</select>
										</td>
										<th class ="text-center">	비밀번호</th>
										<td><input type="password" class="form-control" name="pass" id="pass"  size ="10"></td>
										
									</tr>
								<!-- 실종 게시판인 경우 -->
								<th:block th:if ="${board.categoryId == 3}">
									<tr >
										<th class ="text-center">나 이</th>
										<td>[[${board.age}]] 살</td>
										<th class ="text-center">성 별</th>
										<td>[[${board.gender}]]</td>
									</tr>
									<tr>
									<th class ="text-center">실종 지역</th>
									<td colspan="4">[[${board.region}]]</td>
									</tr>
								</th:block>
								<!--입양게시판인 경우-->
								<th:block th:if ="${board.categoryId == 4}">
									<tr >
										<th class ="text-center">나 이</th>
										<td>[[${board.age}]] 살</td>
										<th class ="text-center">성 별</th>
										<td>[[${board.gender}]]</td>
									</tr>
									<tr>
									<th class ="text-center">생 일</th>
									<td>[[${#dates.format(board.createdAt, 'yyyy-MM-dd')}]]</td>
									<th class ="text-center">동물 종류</th>
									<td>
									    <th:block th:each="ht, stat : ${hashtags}">
										    <span th:text="${ht.tag} + (stat.last ? '' : ' /')"></span>
										</th:block>
									</td>
									</tr>
								</th:block>
									<tr class = "contentTr">		
										<td colspan="4">
											<pre>[[${board.content}]]</pre>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>					
				<div class="col-8 offset-md-2 text-center mt-5">
					<!-- 해시태그 일때 돌아가기 -->
					<th:block th:if = "${hashtag != null}">
					<a class="btn btn-success"
 					 th:href="@{|/board?category=${categoryId}&hashtag=${hashtag}&pageNum=${pageNum}|}">목록보기</a>
					</th:block>	
					<!-- 해시태그 아닐때 돌아가기 -->
					<th:block th:if = "${hashtag == null}">
					<a class="btn btn-success"
   					th:href="@{|/board?category=${categoryId}&pageNum=${pageNum}|}"> 목록보기</a>
					</th:block>
					&nbsp;&nbsp;
					<input type="button" value="수정하기" class="btn btn-success" id="goUpdateBoard"/>
					&nbsp;&nbsp;
					<input type="button" value="삭제하기" class="btn btn-warning" id="detailDelete"/>
				</div>	
		</div> 	
 	</div>
    <script th:src="@{/js/boardDetail.js}" defer></script>
     <script th:if="${error != null}"> alert('[[${error}]]');</script>
</th:block>
</body>
</html>