<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootsmini.app.mapper.BoardMapper">

<!-- 댓글 업데이트 -->
<update id="updateReply">
UPDATE board_reply
SET content = #{content}
WHERE reply_id = #{replyId}
  AND writer_id = #{writerId};
</update>

<!-- 댓글 추가 -->
<insert id="insertReply" parameterType ="map">
INSERT INTO board_reply (
    board_id,
    writer_id,
    content,
    created_at
) VALUES (
    #{boardId},        -- 게시글 ID
    #{writerId},       -- 작성자 ID (세션에서 가져온 값)
    #{content},        -- 댓글 내용
    CURRENT_TIMESTAMP  -- 작성 시간
);
</insert>

<!-- 댓글 삭제 -->
<delete id="deleteReply" parameterType="map">
    DELETE FROM board_reply
    WHERE reply_id = #{replyId}
     AND writer_id = #{writerId}
</delete>

<!-- 댓글 가져오기 -->
<select id="getReply" parameterType="int" resultType="BoardReply">
    SELECT 
        reply_id AS replyId,
        board_id AS boardId,
        writer_id AS writerId,
        content, 
        created_at AS createdAt
    FROM board_reply
    WHERE board_id = #{boardId}
    ORDER BY reply_id DESC
</select>

<!-- 업데이트 -->
<!-- 보드 좋아요 추천 업데이트 -->
<update id="updateRecommend" parameterType="map">
    UPDATE board
    <set>
        <if test="type eq 'commend'">
            recommend = recommend + 1
        </if>
        <if test="type eq 'thank'">
            thank = thank + 1
        </if>
    </set>
    WHERE board_id = #{boardId}
</update>

<!-- 보드 업데이트  -->
<update id="updateBoard" parameterType ="Board">
    UPDATE board
     SET
        title  = #{board.title},
        content = #{board.content},
        age  = #{board.age},
        gender = #{board.gender},
        region  = #{board.region},
        birthday = #{board.birthday}
    WHERE board_id = #{board.boardId}
</update>

<!-- 이미지 연결 삭제 -->
<delete id="deleteBoardImages" parameterType ="int">
DELETE FROM board_image WHERE board_id = #{boardId};
</delete>

<!-- 해시태그 보드 연결 삭제 -->
<delete id="deleteBoardHashtag" parameterType ="int">
DELETE FROM board_hashtag WHERE board_id = #{boardId};
</delete>






<!-- 보드 삭제 -->
<!-- on DELETE CASCADE로 연결해놔서 board_id만 지우면 나머지도 다지워짐(hashtag제외) -->
<delete id="deleteBoard" parameterType="int">
    DELETE FROM board
    WHERE board_id = #{boardId}
</delete>

<!-- 상세 페이지 가기 -->
<!-- 게시글 한개만 가져오는 쿼리 -->
<select id="getBoardDetail" parameterType="map" resultType="Board">
    SELECT 
        board_id AS boardId,
        category_id AS categoryId,
        writer_id AS writerId,
        title,
        pass,
        content,
        age,
        gender,
        birthday,
        region,
        recommend,
        thank,
        created_at AS createdAt
    FROM board b
    WHERE b.board_id = #{boardId}
      AND b.category_id = #{categoryId}
      <if test="hashtag != null and hashtag != ''">
        AND EXISTS (
            SELECT 1
            FROM board_hashtag bh
            JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
            WHERE bh.board_id = b.board_id
              AND h.tag = #{hashtag}
        )
      </if>
</select>

<!-- 해당 게시물에 속하는 이미지 전체 가져오기(상세보기용) -->
<select id="getAllImagesByBoardId" parameterType="int" resultType="BoardImage">
    SELECT 
        bi.image_id AS imageId,
        bi.board_id AS boardId,
        bi.file_name AS fileName,
        bi.uploaded_at AS uploadedAt
    FROM board_image bi
    WHERE board_id = #{boardId}
    ORDER BY uploaded_at DESC
</select>


<!-- 여기까지 상세 페이지 -->
<!-- insertboard쿼리는 4개의 테이블에 값을 각각 넣어줘야함 -->
<!-- 한 board에 전부 넣고 값이없는건 null로 -->
 <!-- board Insert -->
 <insert id="addBoard" parameterType="Board" useGeneratedKeys="true"  keyProperty="boardId">
    INSERT INTO board
    (
        category_id,
        writer_id,
        pass,
        title,
        content,
        age,
        gender,
        birthday,
        region
    )
    VALUES
    (
        #{categoryId},
        #{writerId},
        #{pass},
        #{title},
        #{content},
        #{age},
        #{gender},
        #{birthday},
        #{region}
    )
</insert>
 
 <!-- board_Image Insert -->
 <insert id="addBoardImage" parameterType="BoardImage">
    INSERT INTO board_image
    (
        board_id,
        file_name
    )
    VALUES
    (
        #{boardId},
        #{fileName}
    )
</insert>

<!-- 게시글에 해당하는 해시태그 tag 가져오기 -->
 <!-- 게시글에 해당하는 해시태그 가져오기 (BoardHashtag + 실제 tag 포함) -->
<select id="getHashtag" parameterType="int" resultType="Hashtag">
    SELECT 
        bh.hashtag_id AS hashtagId,
        h.tag AS tag
    FROM board_hashtag bh
    JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
    WHERE bh.board_id = #{boardId}
</select>


 <!-- hashtag Insert -->
 <!-- 해시태그는 있는지 확인하고 없으면 넣어야됨 -->
 <select id="getHashtagId" parameterType="String" resultType="int">
    SELECT hashtag_id
    FROM hashtag
    WHERE tag = #{hashtag}
</select>
 
 <insert id="addHashtag" parameterType="String" useGeneratedKeys="true" keyProperty="hashtagId">
    INSERT INTO hashtag (tag)
    VALUES (#{hashtag})
</insert>
 
 <!-- board_hashtag Insert -->
 <insert id="addBoardHashtag" parameterType="map">
    INSERT INTO board_hashtag
    (
        board_id,
        hashtag_id
    )
    VALUES
    (
        #{boardId},
        #{hashtagId}
    )
</insert>
 
 <!-- 여기까지 insert -->
 
<!-- 해당 게시물에 속하는 이미지들 가져오기 (썸네일용)-->
<select id="getThumbnailByBoardId" parameterType="map" resultType="BoardImage">
    SELECT
        bi.image_id AS imageId,
        bi.board_id AS boardId,
        bi.file_name AS fileName,
        bi.uploaded_at AS uploadedAt
    FROM board_image bi
    JOIN board b ON bi.board_id = b.board_id
    <where>
        b.category_id = #{category}
        AND b.board_id = #{boardId}
        <if test="hashtag != null and hashtag != ''">
            AND EXISTS (
                SELECT 1
                FROM board_hashtag bh
                JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
                WHERE bh.board_id = b.board_id
                  AND h.tag = #{hashtag} )
        </if>
    </where>
    ORDER BY bi.uploaded_at DESC
    LIMIT 1
</select>


<!-- 해당 쿼리의 전체 게시글 갯수를 가져오는 쿼리 / 해시태그도 추가되어 있음 -->
<select id="getBoardCount">
	SELECT COUNT(board_id)
	FROM board b
	WHERE b.category_id = #{category}
	<if test="hashtag != null and hashtag != ''">
	  AND EXISTS (
	    SELECT 1
	    FROM board_hashtag bh
	    JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
	    WHERE bh.board_id = b.board_id
	    AND h.tag  = #{hashtag}
	  )
	</if>
</select>

<!-- 카테고리에 해당하는 게시글 가져오는 쿼리 / 해시태그도 추가되어 있음  -->
<select id="boardList" parameterType="map" resultType="Board">
	SELECT 
        board_id AS boardId,
        category_id AS categoryId,
        writer_id AS writerId,
        title,
        content,
        age,
        gender,
        birthday,
        region,
        recommend,
        thank,
        created_at AS createdAt
	FROM board b
	WHERE b.category_id = #{category}
	
	<if test="hashtag != null and hashtag != ''">
	  AND EXISTS (
	    SELECT 1
	    FROM board_hashtag bh
	    JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
	    WHERE bh.board_id = b.board_id
	    AND h.tag  = #{hashtag}
	  )
	</if>
		ORDER BY board_id DESC
		LIMIT #{startRow}, #{num};
</select>
</mapper>