<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootsmini.app.mapper.BoardMapper">


<!-- 해당 게시물에 속하는 이미지들 가져오기 (썸네일용)-->
<select id="getThumbnailByBoardId" parameterType="map" resultType="BoardImage">
    SELECT
        bi.image_id AS imageId,
        bi.board_id AS boardId,
        bi.file_name AS fileName,
        bi.uploaded_at AS uploadedAt
    FROM board_image bi
    JOIN board b ON bi.board_id = b.board_id
    <where>
        b.category_id = #{category}
        <if test="hashtag != 0">
            AND EXISTS (
                SELECT 1
                FROM board_hashtag bh
                JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
                WHERE bh.board_id = b.board_id
                  AND h.tag = #{hashtag} )
        </if>
        AND b.board_id = #{boardId}
    </where>
    ORDER BY bi.uploaded_at ASC
    LIMIT 1
</select>


<!-- 해당 게시물에 속하는 이미지 전체 가져오기(상세보기용) -->
<select id="getAllImagesByBoardId" parameterType="map" resultType="BoardImage">
    SELECT bi.*
    FROM board_image bi
    JOIN board b ON bi.board_id = b.board_id
    <where>
        b.category_id = #{category}
        <if test="hashtag != 0">
            AND EXISTS (
                SELECT 1
                FROM board_hashtag bh
                JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
                WHERE bh.board_id = b.board_id
                  AND h.tag = #{hashtag} )
        </if>
        AND b.board_id = #{boardId}
    </where>
    ORDER BY bi.uploaded_at ASC
</select>



<!-- 해당 쿼리의 전체 게시글 갯수를 가져오는 쿼리 / 해시태그도 추가되어 있음 -->
<select id="getBoardCount">
	SELECT COUNT(board_id)
	FROM board b
	WHERE b.category_id = #{category}
	<if test="hashtag != 0">
	  AND EXISTS (
	    SELECT 1
	    FROM board_hashtag bh
	    JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
	    WHERE bh.board_id = b.board_id
	    AND h.tag = #{hashtag}
	  )
	</if>
</select>

<!-- 카테고리에 해당하는 게시글 가져오는 쿼리 / 해시태그도 추가되어 있음  -->
<select id="boardList" parameterType="map" resultType="Board">
	SELECT 
        board_id AS boardId,
        category_id AS categoryId,
        writer_id AS writerId,
        title,
        content,
        age,
        gender,
        birthday,
        region,
        recommend,
        thank,
        created_at AS createdAt
	FROM board b
	WHERE b.category_id = #{category}
	
	<if test="hashtag != 0">
	  AND EXISTS (
	    SELECT 1
	    FROM board_hashtag bh
	    JOIN hashtag h ON bh.hashtag_id = h.hashtag_id
	    WHERE bh.board_id = b.board_id
	    AND h.tag = #{hashtag}
	  )
	</if>
		ORDER BY board_id DESC
		LIMIT #{startRow}, #{num};
</select>
</mapper>