<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootsmini.app.mapper.CartMapper">

   <select id="checkCart" resultType="com.springbootsmini.app.domain.Cart">
        SELECT * FROM cart 
        WHERE id = #{id} AND product_id = #{product_id}
    </select>
    
    <delete id="deleteCart">
    DELETE FROM cart 
    WHERE cart_no = #{cartNo} AND id = #{id}
</delete>

    <insert id="addCart">
        INSERT INTO cart (id, product_id, count)
        VALUES (#{id}, #{product_id}, #{count})
    </insert>

    <update id="updateCount">
        UPDATE cart 
        SET count = count + #{count}
        WHERE id = #{id} AND product_id = #{product_id}
    </update>

    <select id="getCartCount" resultType="int">
        SELECT IFNULL(SUM(count), 0) 
        FROM cart 
        WHERE id = #{id}
    </select>
    
<select id="getSelectedCartItems" resultType="com.springbootsmini.app.domain.Cart">
    SELECT 
        c.cart_no AS cartNo,   c.product_id, 
        c.count,
        p.product_name, 
        p.price, 
        p.image_url
    FROM cart c
    JOIN product p ON c.product_id = p.product_id
    WHERE c.cart_no IN 
    <foreach item="id" collection="list" open="(" separator="," close=")">
        #{id}
    </foreach>
</select>

<select id="getCartList" resultType="com.springbootsmini.app.domain.Cart">
        SELECT 
            c.cart_no AS cartNo, 
            c.id, 
            c.product_id, 
            c.count,
            p.product_name, 
            p.price, 
            p.image_url
        FROM cart c
        JOIN product p ON c.product_id = p.product_id
        WHERE c.id = #{id}
    </select>

</mapper>