<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootsmini.app.mapper.PetMapper">

<!-- pet petImage에 썸네일로 넣게 항상 가장 마지막에 넣은 이미지 들고오기 -->
<select id="getLastPetImage" parameterType ="int" resultType = "String">
	SELECT pi.file_name as fileName
    FROM pet_image pi
    WHERE pet_id = #{petId}
    ORDER BY uploaded_at DESC
    LIMIT 1
</select>

<!-- 해당 동물의 업데이트 정보 모듈 들고오기 -->
<select id="getPetModules" parameterType = "int" resultType = "PetModule">
SELECT
	id as id,
	pet_id as petId,
	weight as weight,
	content as content,
	record_date as recordDate
FROM pet_module
WHERE pet_id = #{petId}
ORDER BY id DESC
</select>
<!-- 해당 동물 하나의 사진 여러개들고 오기 -->
<select id="getPetImages" parameterType = "int" resultType = "PetImage">
SELECT
	image_id as imageId,
	pet_id as petId,
	file_name as fileName,
	uploaded_at as uploadedAt
FROM pet_image
WHERE pet_id = #{petId}
ORDER BY image_id DESC
</select>
<!-- 유저별 동물 리스트 -->
<select id="getPetList" parameterType ="String" resultType ="Pet">
SELECT
	pet_id as petId,
	user_id as userId,
	name as name,
	age as age,
	weight as weight,
	gender as gender,
	birthday as birthday,
	pet_image as petImage,
	content as content,
	created_at as createdAt
FROM pet
WHERE user_id = #{userId}
ORDER BY pet_id DESC
</select>
</mapper>