<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<head>
<meta charset="UTF-8">
<title>입양 게시판</title>
<link rel="stylesheet" th:href="@{/css/board.css}" />
<script th:src="@{js/jquery-3.7.1.min.js}"></script>
</head>
<body>
 <th:block layout:fragment="content">
      <!-- 페이지 소개글  -->
        <section class="py-5 text-center container">
          <div class="row py-lg-5">          
          <th:block th:if="${category == 1}">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-bold">Pet Tips</h1>
              <p class="lead text-body-secondary my-1">
      			  Helpful tips for happy pet life. Discover care guides,<br>training advice, and useful information for pet owners.
              </p>
            </div>
            </th:block>
          <th:block th:if="${category == 2}">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-bold">Pet Gallery</h1>
              <p class="lead text-body-secondary my-1">
      		 Share your lovely moments. Show off your pets,<br>their daily life, and precious memories.
              </p>
            </div>
            </th:block>
          <th:block th:if="${category == 3}">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-bold">Missing Pet</h1>
              <p class="lead text-body-secondary my-1">
      			    Find missing pets in your area. Browse reported cases,<br> learn their stories, and help reunite them with their owners.
              </p>
            </div>
            </th:block>
          <th:block th:if="${category == 4}">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-bold">Adopt</h1>
              <p class="lead text-body-secondary my-1">
       			   Find your new furry friend here. Browse available pets,<br> learn their stories, and find your perfect match.
              </p>
            </div>
            </th:block>
          </div>
        </section>
        <!-- 여기까지  -->
        <div class="album py-5" style="background-color: transparent;">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
                  <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top"
                       height="225" preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                       xmlns="http://www.w3.org/2000/svg">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                  <div class="card-body">
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural lead-in to additional content.
                      This content is a little bit longer.
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-body-secondary">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 페이지 네이션 -->
            <div class ="row my-5">
				<div class ="col">
            <!-- 해시태그면서 게시글이 있는 경우 -->
					<nav aria-label="Page navigation example"
     					th:if="${(isHashtagBoard != null ? isHashtagBoard : false) and bList != null and !#lists.isEmpty(bList)}">
					<ul class="pagination justify-content-center">
					  <li class="page-item" th:if ="${startPage > pageGroup}">
					    <a class="page-link"  th:href="@{|/board?category=${category}&pageNum=${startPage-1}&hashtag=${hashtag}|}">Prev</a>
					  </li>
					  <li th:each="num : ${ #numbers.sequence(startPage, endPage)}" 
									th:classappend="${num == currentPage} ? 'active'" class="page-item">
					  	<!-- 현재 페이지 아닐 때  -->
						  	<th:block th:unless="${num == currentPage}">
								<a class="page-link" th:text="${num}" 
								th:href="@{|/board?category=${category}&pageNum=${num}&hashtag=${hashtag}|}">1</a>
							</th:block>
						  <!-- 현재 페이지 일 때 -->
						  <th:block th:if="${num == currentPage}">
								<span class="page-link" th:text="${num}" >1</span>
							</th:block>
					  </li>
		
					  <li class="page-item" th:if = "${endPage < pageCount}">
					    <a class="page-link"   th:href="@{|/board?category=${category}&pageNum=${startPage+pageGroup}&hashtag=${hashtag}|}">Next</a>
					  </li>
					</ul>
					</nav>				
            <!-- 해시태그아니고 게시글이 있는 경우 (기본) -->
	           		<nav aria-label="Page navigation example"
     					th:if="${(!isHashtagBoard) and bList != null and !#lists.isEmpty(bList)}">
						<ul class="pagination justify-content-center">
						  <li class="page-item" th:if ="${startPage > pageGroup}">
						    <a class="page-link" th:href = "@{|/board?category=${category}&pageNum=${startPage-1}|}">Prev</a>
						  </li>
						  <li th:each="num : ${ #numbers.sequence(startPage, endPage)}" 
										th:classappend="${num == currentPage} ? 'active'" class="page-item">
						  <!-- 현재 페이지 아닐 때  -->
						  	<th:block th:unless="${num == currentPage}">
								<a class="page-link" th:text="${num}" 
								th:href="@{|/board?category=${category}&pageNum=${num}|}">1</a>
							</th:block>
						  <!-- 현재 페이지 일 때 -->
						  <th:block th:if="${num == currentPage}">
								<span class="page-link" th:text="${num}" >1</span>
							</th:block>
						  </li>
						  <li class="page-item" th:if = "${endPage < pageCount}">
						    <a class="page-link" th:href ="@{|/board?category=${category}&pageNum=${startPage+pageGroup}|}">Next</a>
						  </li>
						</ul>
					</nav>
				</div>            
            </div>
            <!-- 여기까지  -->
          </div>
        </div>
	<script th:src="@{js/board.js}"></script>
    </th:block>
</body>
</html>