<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<link th:href="@{/css/writeBoard.css}" rel="stylesheet" />
<script src=
	"https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<th:block layout:fragment="content">
<div class="form-box">
<div class="container mb-2" >
	<div class ="row my-5">
		<div class ="col">
			<div class="row my-3 text-center">
				<div class="col">
					<h1 class="fs-3 fw-bold">Join User</h1>
				</div>
			</div>
		<form action = "joinResult" name ="joinForm" method = "post" id ="joinForm">
			<input type="hidden" name="isIdCheck" id="isIdCheck" value="false"/>
			<div class="row mt-5 mb-3">
						<div class="col-8 offset-2">				
							<label for="name" class="form-label">* 이 름 : </label>
							<input type="text" class="form-control" name="name" id="name">
						</div>				
					</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="id" class="form-label">* 아이디 : </label>
					<div class="row">
						<div class="col-6">
							<input type="text" class="form-control" name="id" id="id">
						</div>
						<div class="col-4">
							<input type="button" class="btn btn-outline-success" id="btnOverlap" value="중복확인">
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="pass1" class="form-label">* 비밀번호 : </label>
					<input type="password" class="form-control" name="pass1" id="pass1">					
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="pass2" class="form-label">* 비밀번호 확인 : </label>
					<input type="password" class="form-control" name="pass2" id="pass2">
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="zipcode" class="form-label">* 우편번호 : </label>
					<div class="row">
						<div class="col-4">
							<input type="text" class="form-control" name="zipcode" id="zipcode" maxlength="5" readonly>
						</div>
						<div class="col-4">
							<input type="button" class="btn btn-outline-success" id="btnZipcode" value="우편번호 찾기">
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="address1" class="form-label">* 자택주소 : </label>
					<input type="text" class="form-control" name="address1" id="address1"  readonly>
				</div>	
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="address2" class="form-label">상세주소 : </label>				
					<input type="text" class="form-control" name="address2" id="address2">
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="emailId" class="form-label">* 이 메 일 : </label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control" name="emailId" id="emailId"  >
						</div> @ 
						<div class="col-md-4">
							<input type="text" class="form-control" name="emailDomain" id="emailDomain" >
						</div>
						<div class="col-md-3">
							<select class="form-select" name="selectDomain" id="selectDomain">
								<option>직접입력</option>
								<option>네이버</option>
								<option>다음</option>
								<option>한메일</option>
								<option>구글</option>
							</select>
						</div>
					</div>
				</div>	
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="mobile2" class="form-label" >* 휴 대 폰 : </label>
					<div class="row">
						<div class="col-md-3">
							<select class="form-select" name="mobile1" id="mobile1" >
								<option>010</option>
								<option>011</option>
								<option>016</option>
								<option>017</option>
								<option>018</option>
								<option>019</option>
							</select>
						</div>-
						<div class="col-md-4">
							<input type="text" class="form-control" name="mobile2" id="mobile2" maxlength="5">
						</div>-
						<div class="col-md-4">
							<input type="text" class="form-control" name="mobile3" id="mobile3" maxlength="5">
						</div>
					</div>
				</div>
			</div>			
			<div class="row my-4">
				<div class="col-8 offset-2">
					<label class="form-label">권한  : </label>					
					<div class="row my-2">
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="userRole" id="roleUser" value="0" checked disabled>
								<label class="form-check-label" for="roleUser">일반 이용자</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="userRole" id="roleAdmin" value="1" disabled>
								<label class="form-check-label" for="roleAdmin">관리자</label>
							</div>
						</div>	
					</div>	
					<div class ="row my-4">
						<div class ="col">
							<h6 class = "text-muted opacity-50">*관리자 권한은 개별 신청 필수</h6>						
						</div>
					</div>				
				</div>	
			</div>
			<div class="row mb-3 mt-5">				
				<div class="col-8 offset-2 text-end">
					<input type="submit" value="가입하기" class="btn btn-success">
				</div>
			</div>
		</form>
			
		</div>
	</div>
</div>
</div>
</th:block>
</body>
</html>