
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  -->
<!-- 지금 mainpage아님 복사본 창고정리중  --><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">>
<meta charset="UTF-8">

	<th:block layout:fragment="content">
<div class="container-fluid px-0" style="background-image:url('/upload/main/mainbackground.png')">
	<div class="custom-container">

		<!-- 배너 -->
		
		<div class="row">
			<div class="col">
				<div class="slide_div">
					<div><img src="/upload/main/banner1.jpg"></div>
					<div><img src="/upload/main/banner2.jpg"></div>
					<div><img src="/upload/main/banner3.jpg"></div>
				</div>
			</div>
		</div>

		<!-- 콘텐츠 -->
		<div class="row gx-4 my-4">
			<div class="col-4">
				<div style="height:600px;background:#eee;border-radius:10px;"></div>
			</div>
			<div class="col-8">
				<div style="height:600px;background:#eee;border-radius:10px;"></div>
			</div>
		</div>

	</div>
</div>
	    	</div>	    
		</div>
	</div>
	</th:block>
	</body>
</html>
    