<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<head>
<meta charset="UTF-8">
<!-- 반려동물 프로필 -->
<title>반려동물 추가</title>
<link rel="stylesheet" th:href="@{/css/petAddForm.css}" />
</head>
<body>
<th:block layout:fragment="content">
<div class="page-spacer">

    <div class="row mt-5">
        <div class="col text-center">
            <h2 class="fw-bold">"[[${userId}]]"님의 반려 동물 추가</h2>
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-8">
            <form action="/petAdd" method="post" enctype="multipart/form-data" id = "petAdd" class="pet-form p-5">
                <!-- 이름 -->
                <div class="mb-4">
                    <label class="form-label">이름</label>
                    <input type="text" name="name" class="form-control" id ="name"  required>
                </div>

                <!-- 성별 -->
                <div class="mb-4">
                    <label class="form-label">성별</label>
                    <select name="gender" class="form-select" id="gender">
                        <option value="">선택</option>
                        <option value="여">여</option>
                        <option value="남">남</option>
                    </select>
                </div>

                <!-- 생년월일 -->
                <div class="mb-4">
                    <label class="form-label">생년월일</label>
                    <input type="date" name="birthday" id="birthday" class="form-control">
                </div>

                <!-- 나이 / 체중 -->
                <div class="row mb-4">
                    <div class="col">
                        <label class="form-label">나이</label>
                        <input type="number" name="age" id="age" class="form-control">
                    </div>
                    <div class="col">
                        <label class="form-label">체중 (kg)</label>
                        <input type="number" step="0.1" name="weight" id="weight" class="form-control">
                    </div>
                </div>
                <!-- 이미지 -->
                <div class="mb-4">
                    <label class="form-label">사진</label>
                    <input type="file" name="petImageFile" class="form-control">
                </div>
                <!-- 특징 -->
                <div class="mb-4">
                    <label class="form-label">특징 / 설명</label>
                    <textarea name="content" rows="4" id="content"
                              class="form-control" required placeholder ="나만이 아는 반려 동물의 특징을 써주세요!"></textarea>
                </div>
                <!-- 버튼 -->
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-success px-5" >추가</button>
                    <a href="/petProfile" class="btn btn-outline-secondary px-5 ms-2">취소</a>
                </div>

            </form>
        </div>
    </div>
</div>
    <script th:src="@{/js/pet.js}"></script>
	</th:block>
</body>
</html>