<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<head>
<meta charset="UTF-8">
<title>병원 메인페이지</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" th:href="@{/css/hospital.css}" />
<!-- 지도 디테일용-->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
 <th:block layout:fragment="content">
<section class="py-5 text-center container">
   <div class="row py-lg-5 mt-2">          
		     <div class="col-lg-6 col-md-4 mx-auto">
			       <h1 class="fw-bold">Hospital</h1>
			       <p class="lead text-body-secondary my-1">
					 Find the best local veterinary care.<br>Explore hospital info, services, and tips for your pet's health.
			       </p>
		     </div>
     </div>
   </section>
 <!--  검색폼 -->
    <div class="row">
        <div class="col">
            <form name="addressForm" id="addressForm" action="hospital" class="row justify-content-center">
                <div class="col-auto">
                    <input type="text" name="address" id="address" class="form-control" style="width:500px;"
                           placeholder="병원의 지역 명으로 입력해주세요. ex)서울, 경기"/>
                </div>
                <div class="col-auto">
                    <input type="submit" value="검 색" class="btn btn-outline-success"/>
                </div>
            </form>
        </div>
    </div>

 <!-- 리스트 출력 -->
 <div class="album py-5" style="background-color: transparent;">
    <div class="container">

        <!-- 주소 검색일 때 버튼 -->
        <th:block th:if="${hospitalList.isAddress and hospitalList.hList != null and hospitalList.hList.size() > 0}">
            <div class="row mb-4">
                <div class="col w-100 text-center ">
                    ' [[${hospitalList.address}]] '로 검색한 결과 리스트입니다.
                </div>
            </div>
            <div class="row my-3">
                <div class="col-6 text-start">
                    <a class="btn btn-outline-secondary light-gray-btn" th:href="@{/hospital}">처음으로</a>
                </div>
                <th:block th:if="${session.isManager}">
                    <div class="col-6 d-flex justify-content-end">
                        <a class="btn btn-outline-secondary light-gray-btn"
                           th:href="@{/writeHospital(redirectUrl=${redirectUrl})}">
                            병원 추가
                        </a>
                    </div>
                </th:block>
            </div>
        </th:block>

        <!-- 주소검색이 아닐 때 버튼 -->
        <th:block th:if="${!hospitalList.isAddress and hospitalList.hList != null and hospitalList.hList.size() > 0}">
            <th:block th:if="${session.isManager}">
                <div class="row mb-3">
                    <div class="col d-flex justify-content-end">
                        <a class="btn btn-outline-secondary light-gray-btn"
                           th:href="@{/writeHospital(redirectUrl=${redirectUrl})}">
                            병원 추가
                        </a>
                    </div>
                </div>
            </th:block>
        </th:block>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
            <!-- 게시글이 있는 경우 -->
            <th:block th:if="${hospitalList.hList != null and hospitalList.hList.size() > 0}">
                <th:block th:each="hospital : ${hospitalList.hList}">
                    <div class="col hospitalCard">
                        <div class="card shadow-sm">
                        	<!--이 div가 모달을 엶  -->
							<div class="card hospital-card" data-bs-toggle="modal" data-bs-target="#hospitalModal"  th:data-hospital-id="${hospital.hospitalId}" style ="cursor : pointer" >                               
								 <th:block th:if="${hospital.mainImage != null}">
                                    <img class="bd-placeholder-img card-img-top" alt="게시글 사진" height="225"
                                         style="object-fit: cover; width: 100%;"
                                         th:src="@{'/upload/hospital/' + ${hospital.mainImage}}" />
                                </th:block>
                                <th:block th:if="${hospital.mainImage == null}">
                                    <img class="bd-placeholder-img card-img-top" alt="게시글 사진" height="225"
                                         style="object-fit: cover; width: 100%;"
                                         th:src="@{'/upload/board/noImage.jpg'}" />
                                </th:block>
                                <div class="card-body">
								    <p class="card-text" th:text="${hospital.name}">게시글 제목</p>
								    <div class="d-flex align-items-center"> <small class="text-body-secondary" th:text="${hospital.address}">병원 주소</small>
								        
								        <div class="ms-auto like-dislike-group">
								            <span class="like-item">
								                <i class="bi bi-hand-thumbs-up text-success"></i>
								                <small class="text-body-secondary" th:id="'cardGood-' + ${hospital.hospitalId}">([[${hospital.good}]])</small>
								            </span>
								            <span class="dislike-item">
								                <i class="bi bi-hand-thumbs-down text-secondary"></i>
								                <small class="text-body-secondary" th:id="'cardBad-' + ${hospital.hospitalId}">([[${hospital.bad}]])</small>
								            </span>
								        </div>
								    </div>
								</div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </div>
            <!-- 게시글 없을 때 -->
				<th:block th:if="${hospitalList.hList == null or hospitalList.hList.size() == 0}">
				    <div class="col w-100 text-center py-5">
				        <img th:src="@{/upload/board/noReply.png}" alt="게시글 없음"
				             class="float-up-down" style="max-width:200px; margin-bottom:20px;" />
				      <div th:if="${hospitalList.isAddress}">' [[${hospitalList.address}]] ' 검색한 결과 리스트가 존재하지 않습니다.</div>
				      <div th:unless="${hospitalList.isAddress}">게시글 리스트가 존재하지 않습니다.</div>
				  </div>
				
				  <!-- 버튼 강제 가운데 정렬 -->
				    <div class="no-result-wrapper">
				        <a class="btn btn-outline-secondary light-gray-btn no-result-btn" th:href="@{/hospital}">처음으로</a>
				    </div>  
				</th:block>
          <!-- 페이지 네이션 -->
            <div class ="row my-5">
				<div class ="col">
          <!-- 해시태그면서 게시글이 있는 경우 -->
					<nav aria-label="Page navigation example"
					     th:if="${hospitalList.isAddress and hospitalList.hList != null and hospitalList.hList.size() > 0}">
					    <ul class="pagination justify-content-center">
					      <li class="page-item" th:if ="${hospitalList.startPage > hospitalList.pageGroup}">
					        <a class="page-link" th:href="@{|/hospital?address=${hospitalList.address}&pageNum=${hospitalList.startPage-1}|}">Prev</a>
					      </li>
					      <li th:each="num : ${ #numbers.sequence(hospitalList.startPage, hospitalList.endPage)}" 
					                th:classappend="${num == hospitalList.currentPage} ? 'active'" class="page-item">
					        <!-- 현재 페이지 아닐 때  -->
					        <th:block th:unless="${num == hospitalList.currentPage}">
					            <a class="page-link" th:text="${num}" 
					               th:href="@{|/hospital?address=${hospitalList.address}&pageNum=${num}|}">1</a>
					        </th:block>
					        <!-- 현재 페이지 일 때 -->
					        <th:block th:if="${num == hospitalList.currentPage}">
					            <span class="page-link" th:text="${num}" >1</span>
					        </th:block>
					      </li>
					
					      <li class="page-item" th:if = "${hospitalList.endPage < hospitalList.pageCount}">
					        <a class="page-link" th:href ="@{|/hospital?address=${hospitalList.address}&pageNum=${hospitalList.startPage+hospitalList.pageGroup}|}">Next</a>
					      </li>
					    </ul>
					</nav>				
					
					<!-- 해시태그아니고 게시글이 있는 경우 (기본) -->
					<nav aria-label="Page navigation example"
					     th:if="${!hospitalList.isAddress and hospitalList.hList != null and hospitalList.hList.size() > 0}">
					    <ul class="pagination justify-content-center">
					      <li class="page-item" th:if ="${hospitalList.startPage > hospitalList.endPage}">
					        <a class="page-link" th:href="@{|/hospital?pageNum=${hospitalList.startPage-1}|}">Prev</a>
					      </li>
					      <li th:each="num : ${ #numbers.sequence(hospitalList.startPage, hospitalList.endPage)}" 
					                th:classappend="${num == hospitalList.currentPage} ? 'active'" class="page-item">
					        <!-- 현재 페이지 아닐 때  -->
					        <th:block th:unless="${num == hospitalList.currentPage}">
					            <a class="page-link" th:text="${num}" 
					               th:href="@{|/hospital?pageNum=${num}|}">1</a>
					        </th:block>
					        <!-- 현재 페이지 일 때 -->
					        <th:block th:if="${num == hospitalList.currentPage}">
					            <span class="page-link" th:text="${num}" >1</span>
					        </th:block>
					      </li>
					      <li class="page-item" th:if = "${hospitalList.endPage < hospitalList.pageCount}">
					        <a class="page-link" th:href ="@{|/hospital?pageNum=${hospitalList.startPage+hospitalList.pageGroup}|}">Next</a>
					      </li>
					    </ul>
					</nav>
				</div>            
            </div>
            <!-- 여기까지  -->
  		  </div>
		</div>

		<!-- 모달 -->
		<div class="modal fade" id="hospitalModal" tabindex="-1">
		  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		    <div class="modal-content">
		      <div class="modal-header">
		      <!-- 병원 이름  -->
		        <h5 class="modal-title text-center" id ="modalHospitalName">병원 상세</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		      </div>
		      <div class="modal-body">
		      
		        <!-- 여기에 내용물 채워넣기 -->
		        <!-- 지도 -->
		        <div id="hospitalMap" style="height:300px;"></div>
		        <!-- 내용물 -->
		        <table>
				  <tr>
				    <th>원장</th>
				    <td id="modalDoctorName"></td>
				  </tr>
				  <tr>
				    <th>주소</th>
				    <td id="modalAddress"></td>
				  </tr>
				  <tr>
				    <th>전화번호</th>
				    <td id="modalPhone"></td>
				  </tr>
				  <tr>
				    <th>소개</th>
				    <td id="modalContent"></td>
				  </tr>
				  <tr>
				    <th>등록일</th>
				    <td id="modalCreatedAt"></td>
				  </tr>
				</table>
				<!-- 좋아요싫어요  -->
		        <div class="like-row" style = "cursor :pointer" data-hospital-id="" id="modalLikeRow">
					  <span class="good" id ="good">
			                <i class="bi bi-hand-thumbs-up text-success"></i>
			                <small id="goodCount" class="text-body-secondary">()</small>
			            </span>
			            <span class="bad" id ="bad">
			                <i class="bi bi-hand-thumbs-down text-secondary"></i>
			                <small id="badCount" class="text-body-secondary">()</small>
			            </span>
					</div>
					<!-- 매니저 권한 있을 때만 보임 -->
					<div id="managerButtons" class= "mt-5 mb-3">
					 <th:block th:if="${session.isManager}">
					  <button id="updateBtn">수정</button>
					  <button id="deleteBtn">삭제</button>
					  </th:block>
					</div>
		      </div>
		    </div>
		  </div>	
		    <script th:src="@{/js/hospital.js}"></script>
		    <!-- 지도 디테일용-->
			<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
		</th:block>
	</div>
</body>
</html>
